body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;

    min-width: 1200px;
}

a {
    text-decoration: none;
}

img {
     max-width: 100%;
     height: auto;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

/* стили для хедера начало*/
.main-header {
    width: 100%;
    margin: 0;
}

.main-navigation {
    position: relative;
    margin-bottom: 0px:
}

.main-header-logo {
    width: 138px;
    height: 70px;
    position: absolute;
    right: 533px;
}

.site-navigation {
    width: 1050px;
    margin: 0;
    padding-left: 75px;
    padding-right: 75px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.site-navigation {
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
}

.site-navigation li:first-child,
.site-navigation li:last-child {
    width: 240px;
}

.site-navigation li:nth-child(2),
.site-navigation li:nth-child(3) {
    width: 290px;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
    text-align: right;
}

.site-navigation li:first-child,
.site-navigation li:first-child {
    text-align: left;
}

.site-navigation .current {
    color: #766357;
}

/* стили для хедера конец*/

.welcome-to-sedona {
    width: 1200px;
    height: 510px;
    background: url("../img/background%20photo.jpg") no-repeat 0 50%;
    margin-bottom: 0px;
    text-align: center;
}

.welcome-to-sedona .shape {
    width: 1200px;
    height: 57px;
    background: url("../img/Shape%201%20copy%203.png") no-repeat 0 100%;
    color: #ffffff;
}

.comtainer .welcome-to-sedona {
    margin-bottom: 0px;
}

.five-reasons .town,
.other-reasons {
    display: flex;
    flex-direction: row;
}

.town h3,
.bridge h3 {
    padding-top: 40px;
}
.five-reasons .bridge {
    display: flex;
    flex-direction: row-reverse;
}

.sedona-advantages {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.sedona-reasons {
    background-color: #ffffff;
    margin-bottom: 0;
}

.five-reasons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sedona-advantages .advantage {
    width: 400px;
}

.other-reasons .reason {
    width: 400px;
    background-color: #eeeeee;
    text-align: center;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 45px;
    padding-bottom: 60px;
    margin: 0;
}

.site-navigation {
    list-style: none;
}

.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.reason,
.sedona-advantages,
.sedona-reasons {
    text-align: center;
}

.sedona-reasons {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0px;
}

.sedona-reasons .description {
    font-size: 21px;
    line-height: 26px;
    color: #333333;
    font-weight: bold;
}

.sedona-reasons p {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}

.five-reasons h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.sedona-advantages {
    list-style: none;
}

.sedona-reasons ol {
    list-style: none;
}

.sedona-reasons b {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.sedona-reasons p {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.five-reasons > li:nth-child(1),
.five-reasons > li:nth-child(2) {
    color: #ffffff;
    background-color: #81b3d2;
}

.five-reasons > li:nth-child(3),
.five-reasons > li:nth-child(4),
.five-reasons > li:nth-child(5) {
    background-color: #eeeeee;
}

.sedona-advantages li {
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}

.interested {
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 0;
}

.interested-container {
    padding-top: 55px;
    padding-bottom: 50px;
}

.interested a {
    background-color: #766357;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.interested h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.interested p {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
}

.interested a:hover,
.interested a:focus {
    color: #ffffff;
    background-color: #604e43;
}

.interested a:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.search {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #766357;
}

.search ul{
    list-style: none;
}

.search input {
   font-size: 14px;
   line-height: 26px;
   font-weight: normal;
   color: #000000;
   background-color: #f2f2f2;
   border: none;
}

.search input:focus {
   background-color: #ebebeb;
   border: none;
}

.search input:active {
   background-color: #ffffff;
   border: 2px solid #ebebeb;
}

.button-search {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
    text-transform: uppercase;
}

.button-search:hover,
.button-search:focus {
    background-color: #669ec0;
}

.button-search:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

a .details {
    font-weight: bold;
    color: #ffffff;
}

/* стили футера (начало)*/
.main-footer {
    text-transform: uppercase;
    margin-top: 0px;
    padding-top: 35px;
    background-color: rgba(253, 253, 253, 0.9);
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.main-footer .footer-copyright {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}

.footer-social {
    text-align: center;
    margin: 0;
    width: 400px;
}

.footer-copyright {
    margin: 0;
    width: 240px;
}

.footer-tag {
    margin: 0;
    width: 240px;
}

.footer-tag a {
    color: #000000;
}

.social-button {
    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.footer-social ul{
    list-style: none;
}

.copyright-button {
    color: #000000;
}

.copyright-button:hover,
.copyright-button:focus {
    color: #81b3d2;
}

.copyright-button:active {
    color: #bdbbbc;
    color: rgba(242, 2425, 242, 0.3);
}

/* стили футера (конец)*/

.filters {
    background-color: #000000;
    background-image: url("../img/inner-back.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #ffffff;
    width: 1200px;
    height: 220px;
}

.filter-columns {
    display: flex;
    flex-direction: row;
    padding-left: 75px;
    padding-right: 75px;
}

.type {
    width: 285px;
}

.infrastructure {
    width: 240px;
}

.cost {
    width: 330px;
    margin-left: 200px;
}

.filters ul {
    list-style: none;
}

.filters legend {
    font-size: 16px;
    line-height: 21px;
}

.filters fieldset {
    border: none;
}

.filters ul {
    list-style: none;
}

.filter-option:disabled + label {
    color: #6a6a6a;
}

.filters .filter-button {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #ffffff;
    font-weight: normal;
}

.filters .filter-button:hover {
    color: #000000;
    background-color: #ffffff;
}

.filter-option label {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.search-filters {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0px;
}

.search-filters-container {
    display: flex;
    padding-left: 75px;
    padding-right: 75px;
}

.search-filters-container p {
    padding-right: 50px;
}

.sorting-type li:first-child,
.sorting-type li:nth-child(2) {
    padding-right: 35px;
}

.sorting-style {

    padding-left: 500px;
}


.search-filters-container .sorting-type {
    display: flex;
}

.search-filters-container .sorting-style {
    display: flex;
}

.search-filters h3 {
    font-size: 12px;
    line-height: 18px;
}

.search-filters ul {
    list-style: none;
    font-size: 12px;
    line-height: 18px;
}

.search-filters p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sorting-type-variant a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    border-bottom: 1px dashed #81b3d2;
}

.sorting-type-variant a:hover {
    color: #81b3d2;
    text-decoration: none;
    border-bottom: 1px dashed #81b3d2;
}

.sorting-type-variant a:active {
    color: #000000;
    text-decoration: none;
}

.sorting-type .sorting-type-current {
    color: #81b3d2;
}

.sorting-style ul {
    list-style: none;
}

.sorting-style {
    text-align: right;
}
/* Результаты поиска гостиницы начало */

.search-results {
    background-color: #ffffff;
    margin-bottom: 0px;
}

.search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.search-results li {
    border-top: 1px solid #000000;
}

.search-results li:last-child {
    border-bottom: 1px solid #000000;
}

.search-resul-item h3 {
    font-size: 21px;
    line-height: 26px;
}

.search-resul-item {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
}

.search-result-item {
     display: flex;
     padding-left: 75px;
}

.hotel-photo {
     padding-right: 35px;
}

.hotel-description {
     width: 260px;
}

.hotel-stars {
     width: 110px;
     padding-left: 525px;
     text-align: right;
}

.search-result-item a {
     color: #000000;
}

.search-result-item a:hover {
     color: #81b3d2;
}

.search-result-item a:active {
     color: rgba(0, 0, 0, 0.3);
}

.search-result-item .details {
    color: #ffffff;
    font-weight: bold;
    background-color: #81b3d2;
}

.search-result-item .details:hover {
    background-color: #669ec0;
}

.search-result-item .details:active {
    background-color: #5496bd;
    color: rgba(0, 0, 0, 0.3);
}

.search-result-item .booking {
    color: #ffffff;
    font-weight: bold;
    background-color: #766357;
}

.search-result-item .booking:hover {
    color: #ffffff;
    background-color: #604e43;
}

.search-result-item .booking:active {
    background-color: #503e33;
    color: rgba(0, 0, 0, 0.3);
}

.search-result-item .rating {
    background-color: #f2f2f2;
    color: #666666;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
