body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    min-width: 1200px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header {
    width: 100%;
    margin: 0;
}

.main-navigation {
    position: relative;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.main-header-logo {
    width: 138px;
    height: 70px;
    position: absolute;
    right: 530px;
    z-index: 1;
}

.site-navigation {
    margin: 0;
    padding-left: 73px;
    padding-right: 71px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
    list-style: none;
}

.site-navigation li {
    width: 241px;
}

.site-navigation li:nth-child(4n+2) {
    margin-right: auto;
}

.site-navigation li:nth-child(4n),
.site-navigation li:nth-child(4n+3) {
     text-align: right;
}

.site-navigation .current {
    color: #766357;
}

.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.welcome-to-sedona {
    width: 1200px;
    height: 510px;
    background: #d6e7f1 url(../img/background-photo.jpg) no-repeat 0 -55px;
    margin-bottom: 0px;
    position: relative;
}

.map {
    width: 1200px;
    min-height: 593px;
    background: #cbdda9 url("../img/map.jpg") no-repeat 0 50%;
    background-size: 1200px 593px;
    position: relative;
    overflow: hidden;
}

.welcome-to-sedona img {
    padding-top: 75px;
    padding-left: 372px;
}

.welcome-to-sedona .shape {
    width: 1200px;
    height: 57px;
    background: url("../img/shape.png");
    background-repeat: no-repeat;
    color: #ffffff;
    position: absolute;
    bottom: -1px;
    left: 0px;
}

.sedona-reasons .description {
    font-size: 21px;
    line-height: 26px;
    color: #333333;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 28px;
    margin-right: 9px;
}

.five-reasons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.five-reasons h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    padding-left: 123px;
    padding-right: 122px;
}

.sedona-reasons ol {
    list-style: none;
}

.sedona-reasons b {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.five-reasons > li:nth-child(1),
.five-reasons > li:nth-child(2) {
    color: #ffffff;
    background-color: #81b3d2;
}

.five-reasons > li:nth-child(3),
.five-reasons > li:nth-child(4),
.five-reasons > li:nth-child(5) {
    background-color: #eeeeee;
}

.sedona-advantages li {
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    padding-left: 56px;
    padding-right: 57px;
}

.five-reasons .town {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.five-reasons .bridge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.bridge p {
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 19px;
    padding-left: 48px;
    padding-right: 45px;
}

.sedona-advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 1200px;
}

.advantage {
    padding-top: 164px;
    padding-bottom: 81px;
    position: relative;
    width: 400px;
}

.town div {
    width: 400px;
}

.town p {
    padding: 0;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 50px;
    padding-left: 46px;
    padding-right: 61px;
}

.town h3 {
    margin: 0;
    padding-top: 49px;
    padding-bottom: 21px;
}

.bridge h3 {
    margin: 0;
    padding-top: 49px;
    padding-bottom: 20px;
}

.reason h3 {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
}

.town span,
.bridge span,
.reason span {
    position: relative;
}

.town span::after,
.bridge span::after,
.reason span::after {
    content: "";
    position: absolute;
    background: #ffffff;
    width: 1px;
    height: 10px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: -8px;
    top: 3px;
}

.town span::before,
.bridge span::before,
.reason span::before {
    content: "";
    position: absolute;
    background: #ffffff;
    width: 1px;
    height: 10px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 3px;
    left: -8px;
}

.reason span::after,
.reason span::before {
    background: #000000;
}

.sedona-reasons {
    background-color: #ffffff;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0px;
    text-align: center
}

.five-reasons .reason {
    width: 400px;
    background-color: #eeeeee;
    text-align: center;
    margin: 0;
}

.sedona-reasons p {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 52px;
}

.advantage p {
    margin: 0;
    padding: 0;
    padding-top: 17px;
}

.sedona-advantages li:first-child::before {
    content: "";
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    position: absolute;
    top: 61px;
    left: 163px;
}

.sedona-advantages li:nth-child(2)::before {
    content: "";
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    width: 74px;
    height: 72px;
    position: absolute;
    top: 62px;
    left: 164px;
}

.sedona-advantages li:last-child::before {
    content: "";
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    width: 64px;
    height: 76px;
    position: absolute;
    top: 57px;
    left: 169px;
}

.reason p {
    padding-left: 65px;
    padding-right: 65px;
    text-align: center;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 58px;
}

.interested {
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 0;
}

.interested a {
    background-color: #766357;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    padding: 30px 141px;
}

.interested h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 22px;
    margin-bottom: 23px;
}

.interested p {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
}

.interested-container {
    padding-top: 31px;
    padding-bottom: 33px;
    font-weight: normal;
    margin-left: 383px;
    margin-right: 382px;
}

.interested a:hover,
.interested a:focus {
    color: #ffffff;
    background-color: #604e43;
}

.interested a:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.search {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    list-style: none;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 570px;
    margin: 0;
    padding: 0;
    border: none;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    display: none;
}

.form-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: -9px;
    margin-bottom: 55px;
    width: 460px;
}

.form-grownups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 230px;
    margin-left: 3px;
    position: relative;
}

.form-grownups label,
.form-children label {
    padding-top: 19px;
}

.form-children {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 180px;
    margin-right: -4px;
    position: relative;
}

.search fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.hotel-search fieldset {
    margin: 53px;
}

.hotel-search input[type="text"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 345px;
    padding: 5px 10px;
    padding-right: 30px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.hotel-search input[type="number"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 40px;
    width: 115px;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    margin-top: 13px;
}

.search p {
    margin-top: 0;
    margin-bottom: 27px;
    padding: 0;
    font-weight: bold;
    position: relative;
}

.hotel-search input:hover {
    background-color: #ebebeb;
}

.hotel-search input:focus {
    background-color: #ffffff;
    border: 2px solid #ebebeb;
}

.hotel-search label {
    margin-right: 18px;
}

.form-button {
    position: absolute;
    border: none;
    background-color: transparent;
    color: #a9a9a9;
    font-size: 21px;
}

.calendar-button-arriaval {
    right: 4px;
    top: 9px;
}

.calendar-button-arriaval g,
.calendar-button-departure g {
    fill: #a9a9a9;
}

.calendar-button-departure {
    right: 4px;
    top: 9px;
}

.calendar-button-arriaval:hover g,
.calendar-button-departure:hover g,
.calendar-button-arriaval:focus g,
.calendar-button-departure:focus g {
    fill: #000000;
    border: none;
}

.calendar-button-arriaval:active g,
.calendar-button-departure:active g {
    fill: #81b3d2;
}

.minus-grownups {
    left: 121px;
    top: 18px;
}

.plus-grownups {
    top: 18px;
    right: 11px;
}

.minus-children {
    top: 18px;
    right: 86px;
}

.plus-children {
    top: 18px;
    right: 8px;
}

.minus-grownups:hover,
.minus-grownups:focus,
.minus-children:hover,
.minus-children:focus,
.plus-grownups:hover,
.plus-grownups:focus,
.plus-children:hover,
.plus-children:focus {
    color: #000000;
}

.minus-grownups:active,
.minus-children:active,
.plus-grownups:active,
.plus-children:active {
    color: #81b3d2;
}

.button-search {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
    text-transform: uppercase;
    padding: 16px 195px;
    border: none;
}

.button-search:hover,
.button-search:focus {
    background-color: #669ec0;
}

.button-search:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

a .details {
    font-weight: bold;
    color: #ffffff;
}

.main-footer {
    text-transform: uppercase;
    padding-top: 35px;
    background-color: rgba(253, 253, 253, 0.9);
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 48px;
    margin-top: -127px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 41px;
    position: relative;
    z-index: 1;
}

.main-footer-inner {
    margin-top: 0;
}

.main-footer .footer-copyright {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    overflow: hidden;
}

.footer-social {
    text-align: center;
    margin: 0;
    margin-left: 27px;
}

.footer-copyright {
    margin: 0;
    width: 250px;
}

.footer-copyright svg {
    vertical-align: middle;
}

.footer-tag {
    margin: 0;
    width: 229px;
    vertical-align: middle;
    text-align: right;
}

.footer-tag a {
    color: #000000;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #81b3d2;
    width: 47px;
    height: 49px;
}

.footer-social ul {
    list-style: none;
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active path {
    background-color: #5496bd;
    fill: #88b6d1;
}

.copyright-button {
    margin-left: 8px;
}

.copyright-button path {
    fill: #000000;
}

.copyright-button:hover path,
.copyright-button:focus path {
    fill: #81b3d2;
}

.copyright-button:active path {
    fill: #bdbbbc;
}

.filters {
    background-color: #000000;
    background-image: url("../img/inner-back.jpg");
    background-position: 0 -57px;
    background-repeat: no-repeat;
    color: #ffffff;
    width: 1200px;
    min-height: 218px;
}

.filter-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 72px;
}

.infrastructure {
    margin-right: 125px;
}

.cost {
    margin-left: 350px;
}

.filters ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filters legend {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 25px;
    margin-right: -1px;
}

.filters fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0px;
    margin-top: 27px;
}

.filter-option {
    margin-bottom: 25px;
    margin-left: 40px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.filter-input-checkbox + label::before {
    content: url("../img/checkbox-off.svg");
    position: absolute;
    width: 23px;
    height: 23px;
    left: -40px;
    top: 0;
}

.filter-input-checkbox:checked + label::after {
    content: url("../img/checkbox-on.svg");
    position: absolute;
    width: 23px;
    height: 23px;
    left: -40px;
    top: 0;
}

.filter-input-checkbox:focus + label {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
}

.filter-input-checkbox:disabled + label {
    color: #6a6a6a;
}

.filters .filter-button {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #ffffff;
    font-weight: normal;
}

.filters .filter-button:hover {
    color: #000000;
    background-color: #ffffff;
}

.price-controls {
    min-height: 30px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    position: relative;
    font-size: 0;
}

.cost legend {
    margin-bottom: 11px;
}

.price-controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 23px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    padding-top: 4px;
    padding-left: 2px;
    text-align: center;
}

.price-controls .min-price {
    margin-left: 10px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 155px;
}

.price-controls .max-price {
    margin-left: -10px;
    width: 155px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.price-controls input {
    width: 32px;
    margin: 0;
    font: inherit;
    color: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 33px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(144, 130, 129, 0.3);
    margin-bottom: 30px;
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
    position: absolute;
    top: -9px;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    width: 6px;
    height: 6px;
    top: -10px;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    margin-left: 83px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.search-filters {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0px;
}

.search-filters-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 72px;
    padding-right: 73px;
}

.search-filters-container p {
    padding-right: 47px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 25px;
}

.sorting-type li:not(:last-child) {
     padding-right: 33px;
}

.sorting-style {
    width: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    margin-left: auto;
    padding-right: 0;
    padding-top: 35px;
}

.search-filters-container .sorting-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top:  35px;
    padding-bottom: 33px;
    margin: 0;
}

.search-filters h3 {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    margin: 0;
    padding-top: 35px;
}

.search-filters ul {
    list-style: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.search-filters p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sorting-type-variant a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    border-bottom: 1px dashed #81b3d2;
}

.sorting-type-variant a:hover {
    color: #81b3d2;
    text-decoration: none;
    border-bottom: 1px dashed #81b3d2;
}

.sorting-type-variant a:active {
    color: #000000;
    text-decoration: none;
}

.sorting-type .sorting-type-current {
    color: #81b3d2;
}

.sorting-style ul {
    list-style: none;
}

.sorting-triangle {
    text-align: right;
}

.sorting-triangle polygon {
    fill: #cacaca;
}

.sorting-triangle:hover polygon,
.sorting-triangle:focus polygon,
.sorting-triangle-current:hover polyline,
.sorting-triangle-current:focus polyline {
    fill: #231f20;
}

.sorting-triangle:active polygon,
.sorting-triangle-current:active polyline {
    fill: #81b3d2;
}

.sorting-triangle-current polyline {
    fill: #81b3d2;
}

.search-results {
    background-color: #ffffff;
    margin-bottom: 0px;
}

.search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results li {
    border-top: 1px solid #e5e5e5;
}

.search-results li:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.hotel-description h3 {
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    padding-bottom: 6px;
}

.search-result-item {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 72px;
}

.hotel-photo {
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hotel-description {
    width: 260px;
    padding-top: 25px;
    padding-bottom: 3px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.hotel-type {
    display: inline-block;
    vertical-align: top;
    min-width: 110px;
    padding-right: 1px;
    padding-bottom: 14px;
}

.price {
    display: inline-block;
    vertical-align: top;
}

.hotel-stars {
    width: 110px;
    text-align: right;
    padding-top: 28px;
    padding-bottom: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 71px;
}

.hotel-stars img {
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
}

.search-result-item a {
    color: #000000;
}

.search-result-item a:hover {
    color: #81b3d2;
}

.search-result-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.search-result-item .details {
    color: #ffffff;
    font-weight: bold;
    background-color: #81b3d2;
    display: inline-block;
    vertical-align: top;
    padding: 3px 16px;
    margin-right: 4px;
}

.search-result-item .details:hover {
    background-color: #669ec0;
}

.search-result-item .details:active {
    background-color: #5496bd;
    color: rgba(0, 0, 0, 0.3);
}

.search-result-item .booking {
    color: #ffffff;
    font-weight: bold;
    background-color: #766357;
    display: inline-block;
    vertical-align: top;
    padding: 3px 16px;
}

.search-result-item .booking:hover {
    color: #ffffff;
    background-color: #604e43;
}

.search-result-item .booking:active {
    background-color: #503e33;
    color: rgba(0, 0, 0, 0.3);
}

.search-result-item .rating {
    background-color: #f2f2f2;
    color: #666666;
    width: 110px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.modal-show {
    display: block;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.modal-error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}

@-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateX(-50%) translateY(-2000px);
      transform: translateX(-50%) translateY(-2000px);
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(0);
      transform: translateX(-50%) translateY(0);
    }
}

@keyframes bounce {
    0% {
      -webkit-transform: translateX(-50%) translateY(-2000px);
      transform: translateX(-50%) translateY(-2000px);
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(0);
      transform: translateX(-50%) translateY(0);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }
}
