body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;

    min-width: 1200px;
}

a {
    text-decoration: none;
}

img {
     max-width: 100%;
     height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

/* стили для хедера начало*/
.main-header {
    width: 100%;
    margin: 0;
}

.main-navigation {
    position: relative;
    margin-bottom: 0px:
}

.main-header-logo {
    width: 138px;
    height: 70px;
    position: absolute;
    right: 533px;
    z-index: 1;
}

.site-navigation {
    width: 1050px;
    margin: 0;
    padding-left: 75px;
    padding-right: 75px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-navigation {
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
}

.site-navigation li:first-child,
.site-navigation li:last-child {
    width: 240px;
}

.site-navigation li:nth-child(2),
.site-navigation li:nth-child(3) {
    width: 290px;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
    text-align: right;
}

.site-navigation li:first-child,
.site-navigation li:first-child {
    text-align: left;
}

.site-navigation .current {
    color: #766357;
}

.site-navigation {
    list-style: none;
}

.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

/* стили для хедера конец*/



.welcome-to-sedona {
    width: 1200px;
    height: 510px;
    background: url("../img/background%20photo.jpg") no-repeat 0 50%;
    background-size: 1200px 510px;
    background-color: #d6e7f1;
    margin-bottom: 0px;
    position: relative;
}

.map {
    width: 1200px;
    min-height: 593px;
    background: url("../img/map.jpg") no-repeat 0 50%;
    background-size: 1200px 593px;
}

.welcome-to-sedona img {
    padding-top: 75px;
    padding-left: 370px;
}

.welcome-to-sedona .shape {
    width: 1200px;
    height: 57px;
    background: url("../img/Shape%201%20copy%203.png");
    background-repeat: no-repeat;
    color: #ffffff;
    position: absolute;
    bottom: -1px;
    left: 0px;
}

.container .welcome-to-sedona {
    margin-bottom: 0px;
}

.sedona-reasons .description {
    font-size: 21px;
    line-height: 26px;
    color: #333333;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 30px;
}

.sedona-reasons p {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 50px;
}


/* cетка главной страницы начало */
.five-reasons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sedona-advantages .advantage {
    width: 400px;
}

.five-reasons h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.sedona-advantages {
    list-style: none;
}

.sedona-reasons ol {
    list-style: none;
}

.sedona-reasons b {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.five-reasons > li:nth-child(1),
.five-reasons > li:nth-child(2) {
    color: #ffffff;
    background-color: #81b3d2;
}

.five-reasons > li:nth-child(3),
.five-reasons > li:nth-child(4),
.five-reasons > li:nth-child(5) {
    background-color: #eeeeee;
}

.sedona-advantages li {
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}

.five-reasons {
    display: flex;
    flex-wrap: wrap;
}

.five-reasons .town {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
}

.five-reasons .bridge {
    display: flex;
    flex-direction: row-reverse;
}

.bridge p {
    text-align: center;
    padding-left: 47px;
    padding-right: 48px;
    padding-top: 20px;
    padding-bottom: 60px
}

.sedona-advantages {
    display: flex;
    flex-direction: row;
    flex-basis: 400px;
    margin: 0;
    padding: 0;
}


.town div {
    width: 400px;
}

.town p {
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

.town h3,
.bridge h3,
.reason h3 {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
}

.sedona-reasons {
    background-color: #ffffff;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0px;
}

.five-reasons .reason {
    width: 400px;
    background-color: #eeeeee;
    text-align: center;
    margin: 0;
}

.reason,
.sedona-reasons {
    text-align: center;
}

.sedona-reasons .description {
    font-size: 21px;
    line-height: 26px;
    color: #333333;
    font-weight: bold;
}

.sedona-reasons p {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}

.five-reasons h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    padding-left: 123px;
    padding-right: 122px;
}

.sedona-advantages {
    list-style: none;
    width: 1200px;
}

.sedona-reasons ol {
    list-style: none;
}

.sedona-reasons b {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.advantage p {
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

.sedona-advantages {
    list-style: none;
}


.advantage {
    padding-top: 160px;
    padding-bottom: 80px;

    position: relative;

}

.sedona-advantages li:first-child::before {
    content: url("../img/icon-1.svg");

    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

}

.sedona-advantages li:nth-child(2)::before {
    content: url("../img/icon-3.svg");
    position: absolute;

    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.sedona-advantages li:last-child::before {
    content: url("../img/icon-2.svg");

    position: absolute;

    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}


.five-reasons > li:nth-child(1),
.five-reasons > li:nth-child(2) {
    color: #ffffff;
    background-color: #81b3d2;
}

.five-reasons > li:nth-child(3),
.five-reasons > li:nth-child(4),
.five-reasons > li:nth-child(5) {
    background-color: #eeeeee;
}

.sedona-advantages li {
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    padding-left: 58px;
    padding-right: 57px;
}

.reason p {
    padding-left: 70px;
    padding-right: 71px;
    text-align: center;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 60px;
}

/* cетка галвной страницы конец */



.interested {
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 0;
}

.interested-container {
    padding-top: 55px;
    padding-bottom: 50px;
}

.interested a {
    background-color: #766357;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;

    display: inline-block;
    padding: 30px 140px;
}

.interested h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.interested p {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
}

.interested a:hover,
.interested a:focus {
    color: #ffffff;
    background-color: #604e43;
}

.interested a:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

/*Форма поиска жилья*/
.search {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #766357;

    padding: 55px;
}

.interested .button {
    position: relative;
}

.search {
    list-style: none;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 570px;
    margin: 0;
    padding: 0;

    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}

.search fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.search p {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
}

.hotel-search fieldset{
    margin: 55px;
}

.hotel-search input[type="text"] {
    box-sizing: border-box;
    width: 345px;
    padding: 10px 15px;
    padding-right: 30px;

    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
}

.hotel-search input:focus,
.hotel-search input:hover {
   background-color: #ebebeb;
   border: none;
}

.hotel-search input:active {
   background-color: #ffffff;
   border: 2px solid #ebebeb;
}

.calendar-icon {
   background-image: url("../img/calendar.svg");
   background-position: ;
   background-repeat: no-repeat;
}

.button-search {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
    text-transform: uppercase;
    padding: 15px 195px;
}

.button-search:hover,
.button-search:focus {
    background-color: #669ec0;
}

.button-search:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

a .details {
    font-weight: bold;
    color: #ffffff;
}

/* стили футера (начало)*/
.main-footer {
    text-transform: uppercase;

    padding-top: 35px;
    background-color: rgba(253, 253, 253, 0.9);
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;

    margin-top: -120px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
}

.main-footer-inner {
    margin-top: 0;
}


.main-footer .footer-copyright {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}

.footer-social {
    text-align: center;
    margin: 0;
    width: 400px;
}

.footer-copyright {
    margin: 0;
    width: 240px;
}

.footer-copyright svg {
    vertical-align: middle;
}

.footer-tag {
    margin: 0;
    width: 240px;
    vertical-align: middle;
}

.footer-tag a {
    color: #000000;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #81b3d2;
    width: 47px;
    height: 50px;
}

.footer-social ul {
    list-style: none;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active path {
    background-color: #5496bd;
    fill: #88b6d1;
}

.copyright-button path{
    fill: #000000;
}

.copyright-button:hover path,
.copyright-button:focus path {
    fill: #81b3d2;
}

.copyright-button:active path{
    fill: #bdbbbc;
}
/* стили футера (конец)*/

.filters {
    background-color: #000000;
    background-image: url("../img/inner-back.jpg");
    background-position: 0 -70px;
    background-repeat: no-repeat;
    color: #ffffff;
    width: 1200px;
    height: 220px;
}

.filter-columns {
    display: flex;
    flex-direction: row;
    padding-left: 75px;
    padding-right: 75px;

}

.infrastructure {
    margin-right: 115px;
}

.cost {
    margin-left: 343px;
}

.filters ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filters legend {
    font-size: 16px;
    line-height: 21px;

    margin-bottom: 25px;
}

.filters fieldset {
    border: none;

    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    margin-top: 25px;
}

.filters ul {
    list-style: none;
}

.filter-option {
    margin-bottom: 20px;
    margin-left: 40px;

}

.filter-option label {
     position: relative;

     display: block;

     cursor: pointer;
     user-select: none;
}

.filter-input-checkbox + label::before {
     content: url("../img/checkbox-off.svg");
     position: absolute;

     width: 23px;
     height: 23px;

     left: -40px;
     top: 0;

}

.filter-input-checkbox:checked + label::after {
     content: url("../img/checkbox-on.svg");
     position: absolute;

     width: 23px;
     height: 23px;

     left: -40px;
     top: 0;
}


.filter-option:disabled + label {
    color: #6a6a6a;
}

.filters .filter-button {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #ffffff;
    font-weight: normal;
}

.filters .filter-button:hover {
    color: #000000;
    background-color: #ffffff;
}

.filter-option label {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.price-controls {
    min-height: 35px;
    margin-bottom: 20px;

    border: 2px solid #ffffff;
    border-radius: 2px;

    position: relative;
    font-size: 0;
}

.cost legend {
    margin-bottom: 15px;
}

.price-controls::after {
    content: "";
    position: absolute;

    width: 2px;
    height: 23px;

    background: #ffffff;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%)
}


.price-controls label {
     display: inline-block;
     vertical-align: top;

     cursor: pointer;
     font-size: 14px;
     line-height: 21px;
     font-weight: normal;

     padding-top: 5px;
     text-align: center;
}

.price-controls .min-price,
.price-controls .max-price {
     box-sizing: content-box;
     width: 155px;
}

.price-controls input {
     width: 35px;
     margin: 0;

     font: inherit;
     color: inherit;

     background: none;
     border: none;

}

.range-controls {
     position: relative;

     margin-bottom: 30px;
}

.range-controls .scale {
     height: 2px;

     background: rgba(144, 130, 129, 0.3);
     margin-bottom: 30px;
}

.range-controls .bar {
     width: 80%;
     height: 2px;

     background: #ffffff;
}

.range-toggle {
     width: 4px;
     height: 4px;

     background: #ababab;
     border: 8px solid #ffffff;
     border-radius: 50%;
     box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
     cursor: pointer;

     position: absolute;
     top: -9px;
}

.range-toggle-min {
     left: 0;
}

.range-toggle-max {
     left: 80%;
}

.range-toggle:hover {
     width: 6px;
     height: 6px;
     top: -10px;
}

.btn-transparent {
     display: block;
     margin: 0 auto;
     padding: 6px 35px;

     background: transparent;
     border: 2px solid #ffffff;
     border-radius: 2px;
     cursor: pointer;

}

.search-filters {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0px;
}

.search-filters-container {
    display: flex;
    padding-left: 75px;
    padding-right: 75px;
}

.search-filters-container p {
    padding-right: 50px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 35px;
}

.sorting-type li:not(:last-child) {
     padding-right: 35px;
}

.sorting-style {
    width: 35px;

    display: flex;
    justify-content: space-between;
    margin: 0;

    margin-left: auto;
    padding-right: 0;
    padding-top: 35px;
}

.search-filters-container .sorting-type {
    display: flex;
    padding-top:  35px;
    padding-bottom: 35px;
    margin: 0;
}

.search-filters h3 {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding-top: 35px;
}

.search-filters ul {
    list-style: none;
    font-size: 12px;
    line-height: 18px;
}

.search-filters p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sorting-type-variant a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    border-bottom: 1px dashed #81b3d2;
}

.sorting-type-variant a:hover {
    color: #81b3d2;
    text-decoration: none;
    border-bottom: 1px dashed #81b3d2;
}

.sorting-type-variant a:active {
    color: #000000;
    text-decoration: none;
}

.sorting-type .sorting-type-current {
    color: #81b3d2;
}

.sorting-style ul {
    list-style: none;
}

.sorting-triangle {
    text-align: right;
}

.sorting-triangle polygon {
     fill: #cacaca;
}

.sorting-triangle:hover polygon,
.sorting-triangle:focus polygon,
.sorting-triangle-current:hover polyline,
.sorting-triangle-current:focus polyline {
    fill: #231f20;
}

.sorting-triangle:active polygon,
.sorting-triangle-current:active polyline {
    fill: #81b3d2;
}

.sorting-triangle-current polyline {
    fill: #81b3d2;
}



/* Результаты поиска гостиницы начало */

.search-results {
    background-color: #ffffff;
    margin-bottom: 0px;
}

.search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results li {
    border-top: 1px solid #000000;
}

.search-results li:last-child {
    border-bottom: 1px solid #000000;
}

.hotel-description h3 {
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    padding-bottom: 15px;

}

.search-result-item {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
}

.search-result-item {
     display: flex;
     padding-left: 75px;
}

.hotel-photo {
     padding-right: 35px;
     padding-top: 30px;
     padding-bottom: 30px;
}

.hotel-description {
     width: 260px;
     padding-top: 25px;
     padding-bottom: 30px;
     flex-grow: 1;
}

.hotel-type {
     display: inline-block;
     min-width: 110px;

     padding-right: 5px;
     padding-bottom: 15px;
}

.price {
     display: inline-block;
}

.hotel-stars {
     width: 110px;
     padding-left: 525px;
     text-align: right;
     padding-top: 30px;
     padding-bottom: 30px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;

     padding-right: 66px;
}

.search-result-item a {
     color: #000000;
}

.search-result-item a:hover {
     color: #81b3d2;
}

.search-result-item a:active {
     color: rgba(0, 0, 0, 0.3);
}

.search-result-item .details {
    color: #ffffff;
    font-weight: bold;
    background-color: #81b3d2;

    display: inline-block;
    padding: 5px 15px;
    margin-right: 5px;
}

.search-result-item .details:hover {
    background-color: #669ec0;
}

.search-result-item .details:active {
    background-color: #5496bd;
    color: rgba(0, 0, 0, 0.3);
}

.search-result-item .booking {
    color: #ffffff;
    font-weight: bold;
    background-color: #766357;

    display: inline-block;
    padding: 5px 15px;

}

.search-result-item .booking:hover {
    color: #ffffff;
    background-color: #604e43;
}

.search-result-item .booking:active {
    background-color: #503e33;
    color: rgba(0, 0, 0, 0.3);
}

.search-result-item .rating {
    background-color: #f2f2f2;
    color: #666666;

    text-align: center;
    width: 110px;
}

